/* * {
  
  overflow: hidden;
} */
.tour__card {
  display: flex;
  justify-content: center;
}
.tour__img img {
  width: 100%;
  border-radius: 5px;
  filter: brightness(40%);
  transition: 1s ease-in;
}

.card {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0;
}
.tour__img {
  position: relative;
}
.tour__img span {
  position: absolute;
  bottom: 35%;
  left: 20%;
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
  color: white;
}
